<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LINE</title>
        <style media="screen">

        </style>

    </head>
    <body>
        <h1><%=@user.name%></h1>
        <div class="lineid">
            ID:<%= @user.lineID %>
        </div>
        <p>
        <table id="mainmenu">
        	<thead>
        		<tr>
        			<th><%= link_to "プロフィールを編集する",edit_user_path(@user.id) %></th> <th><%= link_to "友達を追加する",new_user_friend_path(@user.id) %>
                    </th> <th><%= link_to "アカウントを削除する",user_path(@user.id),method: :delete,data: {confirm: @user.name+"を本当に削除して良いですか？？"}%></th> <th><%= link_to "ログアウト",users_path %></th>
        		</tr>
        	</thead>
        </table>
        </p>

        <table id="chats">
            <thead>
                <tr>
                <th colspan="3" class="chats">トーク一覧</th>
                </tr>
            </thead>
        	<tbody>
                <%@user.chats.each do |chat|%>
        		<tr>
                    <th><%= link_to User.find(chat.send_to_ID).name,user_chat_path(chat.user_id,chat.id) %></th>
                    <% user2=User.find(chat.send_to_ID) %>
                    <% chat2=user2.chats.find_by(send_to_ID: @user.id) %>
                    <% message=chat.messages.last %>
                    <% message2=chat2.messages.last %>
                    <% if message2 != nil && message != nil %>
                        <% if message.created_at > message2.created_at %>
                            <td><%= message.text %></td>
                            <% else %>
                            <td><%= message2.text %></td>
                        <% end %>
                        <% elsif message2 !=nil%>
                        <td><%= message2.text %></td>
                        <% elsif message !=nil%>
                        <td><%= message.text %></td>
                        <% else %>
                        <td></td>
                    <% end %>
                    <td class="delete"><%= link_to "削除する",user_chat_path(chat.user.id,chat.id),method: :delete,data: {confirm: "このトークを本当に削除して良いですか？？"} %></td>
        		</tr>
                <%end%>
        	</tbody>
        </table>


        <table id="friends">
            <thead>
                <tr>
                <th colspan="2" class="friends" >友達一覧</th>
                </tr>
            </thead>
        	<tbody>
                <%@user.friends.each do |friend|%>
        		<tr>
        			<th><%= link_to User.find(friend.friend_id).name,user_friend_path(friend.user_id,friend.id) %></th>
                    <td>ID:<%= User.find(friend.friend_id).lineID %></td>
                </tr>
                <%end%>
        	</tbody>
        </table>




    </body>
</html>
