<h1><%=@user.name%></h1>
<p>
    lineID:<%= @user.lineID %>
</p>
<p>
    <%= link_to "プロフィールを編集する",edit_user_path(@user.id) %>
    <%= link_to "アカウントを削除する",user_path(@user.id),method: :delete,data: {confirm: @user.name+"を本当に削除して良いですか？？"}%>
    <%= link_to "友達を追加する",new_user_friend_path(@user.id) %>
    <%= link_to "ログアウト",users_path %>
</p>
----------トーク一覧-----------------------------------------------------------------------------  <br>

<ul>
    <%@user.chats.each do |chat|%>
        <li>
        <%= link_to User.find(chat.send_to_ID).name,user_chat_path(chat.user_id,chat.id) %>
        <%= link_to "削除する",user_chat_path(chat.user_id,chat.id),method: :delete,data: {confirm: "このトークを本当に削除して良いですか？？"} %>
        </li>
    <%end%>
    <br>
</ul>

----------友達一覧-----------------------------------------------------------------------------  <br>

<ul>
    <%@user.friends.each do |friend|%>
        <li>
        <%= link_to User.find(friend.friend_id).name,user_friend_path(friend.user_id,friend.id) %>
        </li>
    <%end%>
    <br>
</ul>
