<h1><%= User.find(@chat.send_to_ID).name %>とのトーク画面</h1>

---------トーク画面-----------------------------------------------------
<br>
<% a=[] %>



<% @chat.messages.each do |message| %>
    <% a.push(message) %>
<% end %>
<% @chat2.messages.each do |message| %>
    <% a.push(message) %>
<% end %>
<% a.sort_by! {|message| message.created_at} %>
<ul>
    <% a.each do |message| %>
        <li>
            <%= message.text %> by<%= message.chat.user.name %>
        </li>
    <% end %>
</ul>

------------------------------------------------------------------------

<p>
    <% @message=@chat.messages.new  %>
    <%= form_for @message, url: user_chat_messages_path(@user.id,@chat.id), method: :post do |f|%>
        <%= f.text_area :text%>   <%= f.submit "送信" %>
    <%end%>
</p>
<p>
    <%= link_to "戻る",user_path(@chat.user.id) %>
</p>
