<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script type="text/javascript">
        function goBottom(targetId) {
            var obj = document.getElementById(targetId);
            if(!obj) return;
            obj.scrollTop = obj.scrollHeight;
        }
        </script>
    </head>
    <body>
        <% a=[] %>
        <% @chat.messages.each do |message| %>
            <% a.push(message) %>
        <% end %>
        <% @chat2.messages.each do |message| %>
            <% a.push(message) %>
        <% end %>
        <% a.sort_by! {|message| message.created_at} %>

        <table id="talk">
            <thead>
                <th colspan="2"><%= User.find(@chat.send_to_ID).name %></th>
            </thead>
                <tbody id="gamen">
                    <% a.each do |message| %>
                        <tr>
                            <% if message.chat.user.id!=User.find(@chat.send_to_ID).id %>
                                <% if message.read == true %>
                                    <td id="read">既読</td>
                                    <% else %>
                                    <td class="blank"></td>
                                <% end %>
                                <td rowspan="2"><div class="right"><%= message.text %></div></td>
                                <% else %>
                                <td rowspan="2"><div class="left"><%= message.text %></div></td><td class="blank"></td>
                            <% end %>
                        </tr>
                        <tr>
                            <% if message.chat.user.id!=User.find(@chat.send_to_ID).id %>
                                <td id="time_right"><%= message.created_at.strftime("%H:%M")%></td>
                                <% else %>
                                <td id="time_left"><%= message.created_at.strftime("%H:%M")%></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
        </table>

        <table id="send">
            <thead>

                <tr>
                    <th>
                    <% @message=@chat.messages.new  %>
                    <%= form_for @message, url: user_chat_messages_path(@user.id,@chat.id), method: :post do |f|%>
                        <%= f.text_area :text, :size=>"100x3"%> <%= f.submit "送信", id: "submit_button" %>
                    <%end%>
                    </th>
                </tr>
            </thead>
        </table>

        <p>
            <%= link_to "戻る",user_path(@chat.user.id) %>
        </p>

    </body>
    <script type="text/javascript">
        goBottom("gamen")
    </script>
</html>
